@media (max-width: 420px) {
  .content {
    padding: $m-size;
    padding-top: $xl-size; 
  }

  // BUTTON
  button {
    padding: $m-size;
  }

  // CARD
  .card-wrapper {
    column-count: 1;
  }

}