{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "no-unused-vars": ["error", { "caughtErrors": "none" }],
    "react/jsx-uses-react": "error",   
    "react/jsx-uses-vars": "error",
    "react/prop-types": ["warn"],
    "comma-dangle": ["error", {
      "arrays": "never",
      "objects": "never",
      "imports": "never",
      "exports": "never",
      "functions": "ignore"
  }]
  },
  "extends": ["airbnb-base"],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "document": false
  }
}