.button--primary {
  background: $fatigue;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,.1);

  &:hover {
    background: darken($fatigue, 10%);
  }
}

.button--secondary {
  background: $apple-green;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,.1);

  &:hover {
    background: darken($apple-green, 10%);
  }
}

.button--red {
  background: $vibrant-red;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,.1);

  &:hover {
    background: darken($vibrant-red, 10%);
  }
}

.button--nobg {
  background: transparent;
  padding: $m-size;
  color: $off-black;
  box-shadow: none;
}

.button--icon {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin: 0 5px;
  
  span {
    margin-right: $l-size;
    flex-grow: 1;
  }
}

.button--toggle {
  background: $dark-green;
  padding: $m-size;
}

.button--link {
  text-decoration: none;
}

.button--block {
  width: 100%;
}