.card-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
}

.card {
  border-radius: 10px;
  background: #fff;
  padding: $m-size $l-size;
  margin: $s-size $m-size;
  margin-bottom: $l-size;
  box-shadow: 0 10px 20px rgba(0,0,0,.06);
  width: 34rem;
  position: relative;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $l-size;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: $m-size;
}

.card-header-controls {
  position: absolute;
  top: 0;
  right: 0;
}

.card-title {
  margin-bottom: $s-size;
  word-break: break-all;
}

.card-image {
  width: 100%;
  height: 200px;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.card-date {
  font-size: 12px;
  color: #a0a0a0;
}

.card-recipe-preview {
  width: 100%;
  border: none;
  line-height: $l-size;
  resize: none;
  
  &::-webkit-scrollbar {
    background: $fatigue;
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: lighten($fatigue, 70%);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $fatigue;
  }

  &:focus {
    outline: none;
  }
}

.card-subtitle {
  @extend .card-date;
}