.recipe-form {
  width: 70%;
}

.form-control {
  margin-top: $m-size;

  * {
    box-sizing: border-box;
  }

  input {
    padding: $m-size;
    width: 100%;
    border: 1px solid #f2f2f2;

    &:focus {
      outline: none;
      border: 1px solid $fatigue;
    }
  }

  textarea {
    width: 100%;
    border: 1px solid #f2f2f2;
    line-height: 2.4rem;
    padding: $m-size;
    padding-top: $s-size;

    &:focus {
      outline: none;
      border: 1px solid $fatigue;
    }

    &::-webkit-scrollbar {
      background: $fatigue;
      width: 5px;
    }
  
    &::-webkit-scrollbar-track {
      background: lighten($fatigue, 70%);
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: $fatigue;
    }
  }
}

.error-message {
  color: red;
  font-size: 14px;
}

.input-file {
  display: none;
}

.file-label {
  background: $off-white;
  padding: $s-size;
  font-size: 12px;
  color: $off-black;

  &:hover {
    cursor: pointer;
    background: darken($off-white, 10%);
  }
}

.form-file-chooser {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
}

.textarea-wrapper {
  display: flex;
  overflow: hidden;
  height: 200px;
}
