.navigation {
  height: 100vh;
  padding: $xl-size;
  position: fixed;
  left: 0;
  top: 0;
  width: 26vw;
  max-width: 50rem;
  background: #fff;
  overflow-y: scroll;
  z-index: 1;
  transition: all .3s ease;
  
  &::-webkit-scrollbar {
    background: $off-brown;
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: lighten($off-brown, 30%);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $off-brown;
    border-radius: 5px;
  }
}

.navigation-wrapper {
  display: flex;
  flex-direction: column;
}

.navigation-toggle {
  position: absolute;
  width: 100px;
  height: 100px;
  right: -100px;
  top: 0;
}
