* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  background: #fff;
}

h1 {
  font-family: 'Carter One', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

button {
  padding: $m-size;
  border: none;
  background: none;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

input:focus, 
button:focus {
  outline: none;
} 

a {
  text-decoration: none;
  color: #fff;
}