//Colors
$grey: #a1a1a1;
$light-grey: #e1e1e1;
$off-grey: #f9f9f9;
$off-black: #1a1a1a;
// $apple-green: #CCBE1C;
$vibrant-red: #F31B1C;
$peach: #FC9471;
$off-white: #E1E1DF;
$powder-blue: #9BB4EC;
$off-brown: #B58B58;
$off-yellow: #FEF49D;
$apple-green: #92A742;
$fatigue: #2A4C3B;
$dark-green: 	#14393F;

$blue-0: #64b7fa;
$blue-1: #abd8fd;
$purple-0: #de7afd;
$purple-1: #e7b1f8;
$red-0: #ff5887;
$red-1: #ff96b3;

// Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

//Breakpoints
$x-mobile: 20rem;
$mobile: 30rem;
$tablet: 50rem;
$laptop: 64rem;
$desktop: 95rem;
